form {
  width : 100%;
  margin : 0 calc(50% - 10vw);
}

input {
  height : 50px;
  width : 250px;
  border : 1px solid #000;
  border-radius : 10px;
  padding : 5px 10px;
  margin : 10px 0px;
}

button {
  width : 100px;
  height : 50px;
  margin-left : calc(100px - 272px/10);
  border : 1px solid #001a3d;
  border-radius : 10px;
  color : #fff;
  background-color : #003a5d;
}

button:hover{
  background-color : #005a7d;
  border : 1px solid #003a5d;
}